## imports

### import packages

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile
import os

import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.set_style('whitegrid')

### import data

#### ohlcv_data

In [ ]:
zip_file_list = ['commodity.zip', 'currency.zip', 'famma-french_daily.zip', 'ohlcv_data.zip', 'US_economy.zip']
for zip_file in zip_file_list:
  name = zip_file.split(".")[0]
  with ZipFile(zip_file, 'r') as zip:
    zip.extractall(f'{name}/')
  print('Done')

Done
Done
Done
Done
Done

In [ ]:
# ohlcv 데이터 중 가장 시작 날짜가 늦은 게 무엇인지 알아보자
path = './ohlcv_data/'
ohlcv_file_list = os.listdir(path)
ohlcv_file_list = [file for file in ohlcv_file_list if file.endswith('.csv')]

In [ ]:
# 제일 늦은 것은 2016-03-03 Nikkey225
# 따라서 2016-03-03부터의 데이터를 사용하기로 한다.
# 또한 수익률을 측정해야하기 때문에 pct_change()를 사용해 수익률에 해댱하는 열을 만들어줘야한다.
for file in ohlcv_file_list:
  name = file.split('.')[0]
  df = pd.read_csv(f'ohlcv_data/{file}')
  start_date = df.Date[0]
  print(name, ": ", start_date)

TIGER단기선진하이일드(H) :  2014-03-24
TIGER코스닥150 :  2015-11-12
TIGER유로스탁스50(H) :  2014-04-30
KODEX인버스 :  2009-09-16
KODEX골드선물(H) :  2010-10-01
KODEX200 :  2002-10-14
KOSEF단기자금 :  2010-07-29
KOSEF미국달러선물 :  2011-02-24
TIGER원유선물(H) :  2010-08-02
TIGER미국SP500선물(H) :  2011-07-18
KOSEF국고채10년 :  2011-10-20
KBSTAR중기우량회사채 :  2011-04-15
TIGER차이나CSI300 :  2014-02-17
KOSEF미국달러선물인버스 :  2011-04-01
KINDEX일본Nikkey225(H) :  2016-03-03

In [ ]:
def import_ohlcv_data(start, file):
  file_path = f'ohlcv_data/{file}'  # 파일 불러오기
  df = pd.read_csv(file_path)
  df = df[df.Date >= start].reset_index(drop=True)  # 시작하는 날짜보다 뒤에 있는 것만 가져오기
  df["Rate"] = df['Close'].pct_change()
  df.dropna(inplace=True)
  df['Rate'] = (np.exp(np.log(df["Rate"]+1).rolling(5).sum())-1).shift(-5)
  df.dropna(inplace=True)
  
  return df

In [ ]:
# 데이터 가져오기
KOSEF국고채10년 = import_ohlcv_data('2016-03-03', 'KOSEF국고채10년.csv')
TIGER원유선물 = import_ohlcv_data('2016-03-03', 'TIGER원유선물(H).csv')
KBSTAR중기우량회사채 = import_ohlcv_data('2016-03-03', 'KBSTAR중기우량회사채.csv')
KOSEF미국달러선물 = import_ohlcv_data('2016-03-03', 'KOSEF미국달러선물.csv')
TIGER차이나CSI300 = import_ohlcv_data('2016-03-03', 'TIGER차이나CSI300.csv')
KODEX200 = import_ohlcv_data('2016-03-03', 'KODEX200.csv')
KOSEF미국달러선물인버스 = import_ohlcv_data('2016-03-03', 'KOSEF미국달러선물인버스.csv')
KINDEX일본Nikkey225 = import_ohlcv_data('2016-03-03', 'KINDEX일본Nikkey225(H).csv')
KOSEF단기자금 = import_ohlcv_data('2016-03-03', 'KOSEF단기자금.csv')
TIGER유로스탁스50 = import_ohlcv_data('2016-03-03', 'TIGER유로스탁스50(H).csv')
KODEX골드선물 = import_ohlcv_data('2016-03-03', 'KODEX골드선물(H).csv')
TIGER미국SP500선물 = import_ohlcv_data('2016-03-03', 'TIGER미국SP500선물(H).csv')
TIGER코스닥150 = import_ohlcv_data('2016-03-03', 'TIGER코스닥150.csv')
TIGER단기선진하이일드 = import_ohlcv_data('2016-03-03', 'TIGER단기선진하이일드(H).csv')
KODEX인버스 = import_ohlcv_data('2016-03-03', 'KODEX인버스.csv')

In [ ]:
KODEX인버스

            Date  Open  High   Low  Close    Volume      Rate
1     2016-03-04  8265  8270  8235   8250  16488203 -0.009091
2     2016-03-07  8235  8245  8220   8230   9586362 -0.006683
3     2016-03-08  8225  8315  8225   8295  16426298 -0.013261
4     2016-03-09  8310  8325  8260   8260  12569213 -0.012107
5     2016-03-10  8240  8260  8185   8200  22581765 -0.009146
...          ...   ...   ...   ...    ...       ...       ...
1516  2022-05-02  4440  4440  4405   4410  39550501  0.029478
1517  2022-05-03  4415  4425  4375   4420  27701082  0.028281
1518  2022-05-04  4400  4430  4385   4415  19898165  0.045300
1519  2022-05-06  4465  4490  4460   4475  28204807  0.006704
1520  2022-05-09  4500  4525  4470   4515  27034217  0.002215

[1520 rows x 7 columns]

In [ ]:
etf_list = [TIGER단기선진하이일드, TIGER코스닥150, TIGER유로스탁스50, KODEX인버스,
            KODEX골드선물, KODEX200, KOSEF단기자금, KOSEF미국달러선물, TIGER원유선물,
            TIGER미국SP500선물, KOSEF국고채10년, KBSTAR중기우량회사채, TIGER차이나CSI300,
            KOSEF미국달러선물인버스, KINDEX일본Nikkey225]
name_list = []
for file in ohlcv_file_list:
  name_list.append(file.split('.')[0])

close_dict = {}
for i in range(len(etf_list)):
  name = name_list[i] +'_Close'
  close_dict[name] = etf_list[i].Close

close_price = pd.DataFrame(close_dict)
close_price['Date'] = KODEX200.Date
close_price

,TIGER단기선진하이일드(H)_Close,TIGER코스닥150_Close,TIGER유로스탁스50(H)_Close,KODEX인버스_Close,KODEX골드선물(H)_Close,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close,Date
1,9530,10413,9645,8250,9745,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540,2016-03-04
2,9565,10360,9640,8230,9725,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515,2016-03-07
3,9570,10368,9635,8295,9790,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465,2016-03-08
4,9565,10432,9580,8260,9685,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360,2016-03-09
5,9555,10489,9590,8200,9640,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480,2016-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,12055,12620,12820,4410,12720,35375,101290,13265,5175,48820,110070,102245,9920,9435,17740,2022-05-02
1517,11945,12740,12720,4420,12515,35290,101315,13275,5240,48930,109670,102205,10025,9430,17820,2022-05-03
1518,12040,12655,12835,4415,12565,35375,101325,13255,5200,49120,109190,102010,10065,9435,17855,2022-05-04
1519,11920,12355,12580,4475,12645,34885,101335,13335,5445,48670,109520,102085,9740,9385,17865,2022-05-06
1520,11900,12075,12345,4515,12620,34555,101360,13345,5465,48035,109720,102300,9660,9380,17465,2022-05-09

#### famma-french_daily

In [ ]:
path = './famma-french_daily/'
ff_file_list = os.listdir(path)
ff_file_list = [file for file in ff_file_list if file.endswith('.csv')]

In [ ]:
pd.read_csv('famma-french_daily/Japan_5_Factors_Daily.csv')

            Date  Mkt-RF   SMB   HML   RMW   CMA    RF
0     2000-01-03    1.03  0.00  0.00  0.00  0.00  0.02
1     2000-01-04   -1.77  0.11  0.44 -0.33  0.05  0.02
2     2000-01-05   -4.76  1.92  3.42 -1.94  3.16  0.02
3     2000-01-06   -3.52  0.65  2.36 -2.37  2.04  0.02
4     2000-01-07   -0.81 -0.14  1.46 -1.25  2.14  0.02
...          ...     ...   ...   ...   ...   ...   ...
5820  2022-04-25   -1.12  0.21  0.03  0.19  0.02  0.00
5821  2022-04-26    0.85  0.51 -1.22  0.65 -0.40  0.00
5822  2022-04-27   -1.80  0.25 -0.57  0.54 -0.34  0.00
5823  2022-04-28    0.08 -0.17  2.06 -1.31  0.58  0.00
5824  2022-04-29    0.74  0.00  0.00  0.01 -0.01  0.00

[5825 rows x 7 columns]

In [ ]:
def import_ff_data(start, file):
  file_path = f'famma-french_daily/{file}'  # 파일 불러오기
  df = pd.read_csv(file_path)
  df = df[df.Date >= start].reset_index(drop=True)  # 시작하는 날짜보다 뒤에 있는 것만 가져오기
  
  return df

In [ ]:
# 데이터 가져오기
North_America_5_Factors_Daily = import_ff_data('2016-03-04', 'North_America_5_Factors_Daily.csv')
North_America_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(North_America_5_Factors_Daily.columns).apply(lambda x: x + '(NA)').iloc[1:,0])

Developed_5_Factors_Daily = import_ff_data('2016-03-04', 'Developed_5_Factors_Daily.csv')
Developed_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(Developed_5_Factors_Daily.columns).apply(lambda x: x + '(Developed)').iloc[1:,0])

Japan_5_Factors_Daily = import_ff_data('2016-03-04', 'Japan_5_Factors_Daily.csv')
Japan_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(Japan_5_Factors_Daily.columns).apply(lambda x: x + '(JP)').iloc[1:,0])

Europe_5_Factors_Daily = import_ff_data('2016-03-04', 'Europe_5_Factors_Daily.csv')
Europe_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(Europe_5_Factors_Daily.columns).apply(lambda x: x + '(EU)').iloc[1:,0])

Asia_Pacific_ex_Japan_5_Factors_Daily = import_ff_data('2016-03-04', 'Asia_Pacific_ex_Japan_5_Factors_Daily.csv')
Asia_Pacific_ex_Japan_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(Asia_Pacific_ex_Japan_5_Factors_Daily.columns).apply(lambda x: x + '(AP)').iloc[1:,0])

Developed_ex_US_5_Factors_Daily = import_ff_data('2016-03-04', 'Developed_ex_US_5_Factors_Daily.csv')
Developed_ex_US_5_Factors_Daily.columns = ['Date'] + list(pd.DataFrame(Developed_ex_US_5_Factors_Daily.columns).apply(lambda x: x + '(ex_US)').iloc[1:,0])

In [ ]:
Asia_Pacific_ex_Japan_5_Factors_Daily

            Date  Mkt-RF(AP)  SMB(AP)  HML(AP)  RMW(AP)  CMA(AP)  RF(AP)
0     2016-03-04        1.47     0.05     0.53    -0.02     0.38     0.0
1     2016-03-07        0.42     0.12     0.43     0.42     0.20     0.0
2     2016-03-08       -1.04     0.36     0.37    -0.30     0.11     0.0
3     2016-03-09        0.80    -0.65    -0.71     0.41     0.02     0.0
4     2016-03-10       -0.15     0.12     0.27    -0.10    -0.12     0.0
...          ...         ...      ...      ...      ...      ...     ...
1601  2022-04-25       -1.23    -0.02     0.11    -0.30     0.02     0.0
1602  2022-04-26       -1.67    -0.07     0.66     0.04     0.98     0.0
1603  2022-04-27       -0.39    -0.32     0.51    -0.27     0.75     0.0
1604  2022-04-28        0.77    -0.86     0.37     0.36     0.33     0.0
1605  2022-04-29        0.43     0.31    -0.46     0.21    -0.36     0.0

[1606 rows x 7 columns]

#### currency

In [ ]:
Currency = pd.read_csv('currency/Currency.csv')
Currency = Currency[Currency.Date >= '2016-03-04'].reset_index(drop=True) # 시작하는 날짜보다 뒤에 있는 것만 가져오기

In [ ]:
currency_list = ['USD', 'JPY', 'CNY', 'EUR']  # 환율 마다 스케일이 다르기 때문에 환율의 변화율로 보는 것이 더 적합하다.
for currency in currency_list:                # 따라서 환율의 변화율을 변수로 설정해주도록 한다.
  col = currency + ' Change'
  Currency[col] = Currency[currency].pct_change()

Currency.drop(currency_list, axis=1, inplace=True)
Currency.fillna(0, inplace=True)

In [ ]:
Currency.head()

         Date  USD Change  JPY Change  CNY Change  EUR Change
0  2016-03-04    0.000000    0.000000    0.000000    0.000000
1  2016-03-07    0.001160    0.003778   -0.000217    0.002078
2  2016-03-08    0.008626    0.015867    0.010156    0.007431
3  2016-03-09   -0.000322   -0.007512   -0.001828   -0.000548
4  2016-03-10   -0.003645   -0.000544   -0.001885    0.013024

#### Commodity

In [ ]:
path = './commodity/'
commodity_file_list = os.listdir(path)
commodity_file_list = [file for file in commodity_file_list if file.endswith('.csv')]

In [ ]:
def import_commodity_data(start, file):
  file_path = f'commodity/{file}'  # 파일 불러오기
  name = file.split('.')[0]
  df = pd.read_csv(file_path)
  df = df[df.Date >= start].reset_index(drop=True)  # 시작하는 날짜보다 뒤에 있는 것만 가져오기
  df = df.iloc[:,:2]                                # Date를 뺀 가장 첫번째 열이 모두 가격을 나타내므로 이것만을 사용하기로 한다
  df.columns = ['Date', f'{name} Price']                    # 열 이름을 똑같이 변경
  return df

In [ ]:
gold = import_commodity_data('2016-03-04', 'gold.csv')
silver = import_commodity_data('2016-03-04', 'silver.csv')
natural_gas = import_commodity_data('2016-03-04', 'natural_gas.csv')
oil = import_commodity_data('2016-03-04', 'oil.csv')

In [ ]:
gold

            Date  gold Price
0     2016-03-04     1271.50
1     2016-03-07     1267.60
2     2016-03-08     1274.10
3     2016-03-09     1258.25
4     2016-03-10     1247.25
...          ...         ...
1563  2022-05-12     1850.75
1564  2022-05-13     1824.20
1565  2022-05-16     1805.80
1566  2022-05-17     1828.05
1567  2022-05-18     1818.50

[1568 rows x 2 columns]

#### US_economy

##### fed_rate

In [ ]:
fed_rate = pd.read_csv('US_economy/FED_rate.csv')

In [ ]:
fed_rate = fed_rate[fed_rate.Date >= "2016-03-04"].reset_index(drop=True)
fed_rate.fillna(method='ffill', inplace=True)
fed_rate.columns = ['Date', 'fed_rate']

In [ ]:
fed_rate.head()

         Date  fed_rate
0  2016-03-04       0.5
1  2016-03-07       0.5
2  2016-03-08       0.5
3  2016-03-09       0.5
4  2016-03-10       0.5

##### US_base_rate

In [ ]:
US_base_rate = pd.read_csv('US_economy/US_base_rate.csv')

In [ ]:
US_base_rate.Date = pd.date_range('2000-01-01', periods=268, freq='M')
US_base_rate = US_base_rate[US_base_rate.Date >= "2016-02-28"].reset_index(drop=True)
US_base_rate.head()

        Date  미국정책금리
0 2016-02-29     0.4
1 2016-03-31     0.4
2 2016-04-30     0.4
3 2016-05-31     0.4
4 2016-06-30     0.4

In [ ]:
date_df = pd.DataFrame(pd.to_datetime(fed_rate.Date))
date_df.head()

        Date
0 2016-03-04
1 2016-03-07
2 2016-03-08
3 2016-03-09
4 2016-03-10

In [ ]:
merged_df = pd.merge(US_base_rate, date_df, left_on='Date', right_on='Date', how='right')
merged_df.fillna(method='ffill', inplace=True)
merged_df.fillna(0.4, inplace=True)
merged_df

           Date  미국정책금리
0    2016-03-04     0.4
1    2016-03-07     0.4
2    2016-03-08     0.4
3    2016-03-09     0.4
4    2016-03-10     0.4
...         ...     ...
1612 2022-05-10     0.4
1613 2022-05-11     0.4
1614 2022-05-12     0.4
1615 2022-05-13     0.4
1616 2022-05-16     0.4

[1617 rows x 2 columns]

In [ ]:
merged_df.columns = ['Date', 'Base_rate']
US_base_rate = merged_df
US_base_rate.Date = fed_rate.Date
US_base_rate

            Date  Base_rate
0     2016-03-04        0.4
1     2016-03-07        0.4
2     2016-03-08        0.4
3     2016-03-09        0.4
4     2016-03-10        0.4
...          ...        ...
1612  2022-05-10        0.4
1613  2022-05-11        0.4
1614  2022-05-12        0.4
1615  2022-05-13        0.4
1616  2022-05-16        0.4

[1617 rows x 2 columns]

##### US_economic_growth_rate

In [ ]:
US_economic_growth_rate = pd.read_csv('US_economy/US_economic_growth_rate.csv')

In [ ]:
US_economic_growth_rate.Date = US_economic_growth_rate.Date.apply(lambda x: x + '-04')
US_economic_growth_rate = US_economic_growth_rate[US_economic_growth_rate.Date >= "2016-03-04"].reset_index(drop=True)
US_economic_growth_rate.Date = pd.to_datetime(US_economic_growth_rate.Date)

In [ ]:
US_economic_growth_rate.tail()

         Date  미국경제성장률
20 2021-03-04      1.5
21 2021-06-04      1.6
22 2021-09-04      0.6
23 2021-12-04      1.7
24 2022-03-04     -0.4

In [ ]:
merged_df = pd.merge(US_economic_growth_rate, date_df, left_on='Date', right_on='Date', how='right')
merged_df.fillna(method='ffill', inplace=True)
merged_df

           Date  미국경제성장률
0    2016-03-04      0.6
1    2016-03-07      0.6
2    2016-03-08      0.6
3    2016-03-09      0.6
4    2016-03-10      0.6
...         ...      ...
1612 2022-05-10     -0.4
1613 2022-05-11     -0.4
1614 2022-05-12     -0.4
1615 2022-05-13     -0.4
1616 2022-05-16     -0.4

[1617 rows x 2 columns]

In [ ]:
merged_df.columns = ['Date', 'growth_rate']
US_economic_growth_rate = merged_df
US_economic_growth_rate.Date = fed_rate.Date
US_economic_growth_rate

            Date  growth_rate
0     2016-03-04          0.6
1     2016-03-07          0.6
2     2016-03-08          0.6
3     2016-03-09          0.6
4     2016-03-10          0.6
...          ...          ...
1612  2022-05-10         -0.4
1613  2022-05-11         -0.4
1614  2022-05-12         -0.4
1615  2022-05-13         -0.4
1616  2022-05-16         -0.4

[1617 rows x 2 columns]

## Make Model

### preparation

In [ ]:
print(ohlcv_file_list)
print(commodity_file_list)
print(ff_file_list)
print(['Currency','fed_rate', 'US_economic_growth_rate', 'US_base_rate'])

['TIGER단기선진하이일드(H).csv', 'TIGER코스닥150.csv', 'TIGER유로스탁스50(H).csv', 'KODEX인버스.csv', 'KODEX골드선물(H).csv', 'KODEX200.csv', 'KOSEF단기자금.csv', 'KOSEF미국달러선물.csv', 'TIGER원유선물(H).csv', 'TIGER미국SP500선물(H).csv', 'KOSEF국고채10년.csv', 'KBSTAR중기우량회사채.csv', 'TIGER차이나CSI300.csv', 'KOSEF미국달러선물인버스.csv', 'KINDEX일본Nikkey225(H).csv']
['oil.csv', 'natural_gas.csv', 'silver.csv', 'gold.csv']
['Asia_Pacific_ex_Japan_5_Factors_Daily.csv', 'North_America_5_Factors_Daily.csv', 'Japan_5_Factors_Daily.csv', 'Developed_5_Factors_Daily.csv', 'Europe_5_Factors_Daily.csv', 'Developed_ex_US_5_Factors_Daily.csv']
['Currency', 'fed_rate', 'US_economic_growth_rate', 'US_base_rate']

In [ ]:
ohlcv_list = [KOSEF국고채10년, 
 TIGER원유선물,
 KBSTAR중기우량회사채,
 KOSEF미국달러선물,
 TIGER차이나CSI300,
 KODEX200,
 KOSEF미국달러선물인버스,
 KINDEX일본Nikkey225,
 KOSEF단기자금,
 TIGER유로스탁스50,
 KODEX골드선물,
 TIGER미국SP500선물,
 TIGER코스닥150,
 TIGER단기선진하이일드,
 KODEX인버스]
commodity_list = [gold, natural_gas, oil, silver]
ff_list = [North_America_5_Factors_Daily, Developed_5_Factors_Daily, Japan_5_Factors_Daily, Europe_5_Factors_Daily, Asia_Pacific_ex_Japan_5_Factors_Daily, Developed_ex_US_5_Factors_Daily]
economy_list = [Currency, fed_rate, US_economic_growth_rate, US_base_rate]
total_feature_list = commodity_list + ff_list +economy_list+ [close_price]

In [ ]:
def merge_data_set(dataset, feature_list):
  df = dataset
  for feature in feature_list:
    df = pd.merge(df, feature, how='left')
  df[['USD Change', 'JPY Change', 'CNY Change', 'EUR Change']] = df[['USD Change', 'JPY Change', 'CNY Change', 'EUR Change']].fillna(0)
  df = df.fillna(method='ffill')
  return df

### KODEX200

In [ ]:
feature_list = total_feature_list
KODEX200_combined = merge_data_set(KODEX200, feature_list)
KODEX200_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,21226,21284,21188,21245,7658963,0.010685,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,21275,21326,21263,21288,6940749,0.007751,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,21308,21317,21063,21137,6926830,0.014193,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,21089,21217,21055,21232,6053743,0.012340,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,21263,21519,21245,21424,9241212,0.008822,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
KODEX200_combined.drop(['Date', 'KODEX200_Close'], axis=1, inplace=True)

In [ ]:
def Rate_into_labels(dataset):
  q1 = round(dataset["Rate"].quantile(0.2),4)
  q2 = round(dataset["Rate"].quantile(0.4),4)
  q3 = round(dataset["Rate"].quantile(0.6),4)
  q4 = round(dataset["Rate"].quantile(0.8),4)
  dataset['Rate'] = pd.qcut(dataset["Rate"],5, labels=[0,1,2,3,4])
  quantile_df = pd.DataFrame({'Rate':[q1,q2,q3,q4]}, index=['20%', '40%', '60%', '80%'])
  quantile_df2 = pd.DataFrame([f'~{q1}',f'{q1}~{q2}', f'{q2}~{q3}', f'{q3}~{q4}', f'{q4}~'], index=['~20%', '20% ~ 40%', '40% ~ 60%', '60% ~ 80%', '80%~'])
  return quantile_df2

In [ ]:
Rate_into_labels(KODEX200_combined)

                         0
~20%              ~-0.0134
20% ~ 40%  -0.0134~-0.0016
40% ~ 60%   -0.0016~0.0073
60% ~ 80%    0.0073~0.0186
80%~               0.0186~

In [ ]:
KODEX200_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = KODEX200_combined.drop('Rate', axis=1)
y = KODEX200_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.31478169, -1.32307403, -1.3036188 , ..., -1.06896792,
        -0.54756683, -1.48738516],
       [-1.30683914, -1.31631104, -1.29135029, ..., -1.0515809 ,
        -0.50786584, -1.49666274],
       [-1.30149007, -1.31776026, -1.32406631, ..., -1.08472491,
        -0.59719307, -1.5152179 ],
       ...,
       [ 0.99082941,  0.97730746,  0.99582651, ...,  0.67897104,
        -2.48299033,  1.22723452],
       [ 0.91950848,  0.88713431,  0.92057967, ...,  0.5023841 ,
        -2.58224282,  1.23094555],
       [ 0.87655383,  0.87103196,  0.87477724, ...,  0.45891655,
        -2.59216807,  1.08250428]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = KODEX200_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = KODEX200_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=15, step = 3)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=15, step=3)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0              Close
1             Volume
2         gold Price
3  natural_gas Price
4          oil Price

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

                columns  Ranking
0     TIGER코스닥150_Close        1
1            Mkt-RF(JP)        1
2  KOSEF미국달러선물인버스_Close        1
3               HML(AP)        1
4            USD Change        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,Close,Volume,gold Price,natural_gas Price,oil Price,Mkt-RF(NA),HML(NA),Mkt-RF(JP),RMW(JP),Mkt-RF(EU),HML(AP),USD Change,TIGER코스닥150_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close
0,-1.314390,0.012563,-0.836220,-1.375952,-1.433760,0.318030,0.454514,0.222187,-1.701439,1.079097,0.964394,-0.010466,-0.679758,-1.068968,-0.547567
1,-1.307403,-0.147879,-0.851127,-1.351067,-1.294734,0.233818,0.704585,-0.596002,-1.178393,-0.169798,0.779493,0.217115,-0.703788,-1.051581,-0.507866
2,-1.331939,-0.150989,-0.826282,-1.328257,-1.380665,-1.147271,-0.371810,-0.323273,0.739441,-0.906087,0.668552,1.682152,-0.700161,-1.084725,-0.597193
3,-1.316503,-0.346028,-0.886865,-1.286782,-1.314296,0.461192,0.617604,-1.574067,1.162859,0.221647,-1.328382,-0.073701,-0.671144,-1.097222,-0.765922
4,-1.285305,0.366023,-0.928910,-1.249456,-1.303816,-0.153561,0.487132,1.510600,0.340930,-0.020676,0.483651,-0.725732,-0.645300,-1.089615,-0.537642

#### LightGBM

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
lgbm = LGBMClassifier()
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.2697
recall: 0.2697
precision: 0.2697
f1_score: 0.2697

In [ ]:
confusion_matrix(pred, y_test)

array([[49, 43, 32, 32, 12],
       [ 4,  1,  0,  6,  3],
       [ 9, 13, 13, 11,  4],
       [14,  8,  7,  8,  8],
       [ 4,  3,  4,  5, 11]])

### KODEX 인버스(진행하지 않음)

In [ ]:
# KODEX인버스의 경우, KODEX200과 반대로 움직이기 떄문에 굳이 진행을 하지 않았다.

### TIGER코스닥150

In [ ]:
feature_list = total_feature_list
TIGER코스닥150_combined = merge_data_set(TIGER코스닥150, feature_list)
TIGER코스닥150_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,10422,10457,10356,10413,429737,0.010564,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,10470,10484,10351,10360,422480,0.011100,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,10404,10408,10221,10368,421993,0.004340,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,10384,10432,10336,10432,436810,-0.000863,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,10461,10498,10408,10489,423083,-0.006292,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
TIGER코스닥150_combined.drop(['Date', 'TIGER코스닥150_Close'], axis=1, inplace=True)

In [ ]:
Rate_into_labels(TIGER코스닥150_combined)

                         0
~20%              ~-0.0228
20% ~ 40%  -0.0228~-0.0056
40% ~ 60%   -0.0056~0.0089
60% ~ 80%    0.0089~0.0279
80%~               0.0279~

In [ ]:
TIGER코스닥150_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = TIGER코스닥150_combined.drop('Rate', axis=1)
y = TIGER코스닥150_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.34434206, 0.30608696, 0.35800793, ..., 0.09753681, 0.42827443,
        0.11531365],
       [0.34931152, 0.30902174, 0.35748591, ..., 0.10206682, 0.43659044,
        0.11300738],
       [0.34247852, 0.30076087, 0.34391313, ..., 0.09343148, 0.41787942,
        0.10839483],
       ...,
       [0.58794906, 0.5623913 , 0.59386093, ..., 0.55294451, 0.02286902,
        0.79012915],
       [0.56983125, 0.54445652, 0.56410524, ..., 0.50693658, 0.002079  ,
        0.79105166],
       [0.5444663 , 0.5123913 , 0.53539361, ..., 0.49561155, 0.        ,
        0.75415129]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = TIGER코스닥150_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = TIGER코스닥150_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=15, step = 3)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=15, step=3)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0              Close
1             Volume
2  natural_gas Price
3       silver Price
4         Mkt-RF(NA)

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

                      columns  Ranking
0  KINDEX일본Nikkey225(H)_Close        1
1                     HML(EU)        1
2                  Mkt-RF(EU)        1
3                     CMA(JP)        1
4                     SMB(JP)        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,Close,Volume,natural_gas Price,silver Price,Mkt-RF(NA),HML(NA),SMB(JP),CMA(JP),Mkt-RF(EU),HML(EU),SMB(AP),KODEX인버스_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,KINDEX일본Nikkey225(H)_Close
0,0.343714,0.039964,0.026540,0.194824,0.575758,0.441044,0.571705,0.410753,0.642336,0.415655,0.607273,0.831063,0.470316,0.485437,0.115314
1,0.338212,0.039288,0.030001,0.207907,0.571096,0.461746,0.581395,0.503226,0.577129,0.408907,0.620000,0.827430,0.454675,0.521036,0.113007
2,0.339043,0.039243,0.033175,0.207907,0.494639,0.372637,0.437984,0.509677,0.538686,0.358974,0.663636,0.839237,0.473516,0.528587,0.108395
3,0.345687,0.040623,0.038944,0.185722,0.583683,0.454545,0.397287,0.597849,0.597567,0.403509,0.480000,0.832879,0.515108,0.516721,0.098708
4,0.351604,0.039344,0.044137,0.185722,0.549650,0.443744,0.432171,0.348387,0.584915,0.452092,0.620000,0.821980,0.468539,0.530744,0.109779

#### LightGBM

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, classification_report, confusion_matrix

In [ ]:
lgbm = LGBMClassifier(boosting_type='gbdt')
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.1941
recall: 0.1941
precision: 0.1941
f1_score: 0.1941

In [ ]:
confusion_matrix(pred, y_test)

array([[17, 20, 16,  8,  9],
       [33, 29, 43, 36, 24],
       [ 1,  1,  1,  1,  0],
       [ 0,  1,  0,  0,  1],
       [15, 10, 13, 13, 12]])

### KINDEX일본Nikkey225

In [ ]:
feature_list = total_feature_list
KINDEX일본Nikkey225_combined = merge_data_set(KINDEX일본Nikkey225, feature_list)
KINDEX일본Nikkey225_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,10540,10550,10540,10540,25,-0.001423,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,10545,10545,10465,10515,308662,0.016643,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,10525,10525,10325,10465,336969,0.020067,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,10320,10360,10250,10360,316169,0.015927,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,10425,10480,10370,10480,310932,-0.002385,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
KINDEX일본Nikkey225_combined.drop(['Date', 'KINDEX일본Nikkey225(H)_Close'], axis=1, inplace=True)

In [ ]:
Rate_into_labels(KINDEX일본Nikkey225_combined)

                         0
~20%              ~-0.0147
20% ~ 40%  -0.0147~-0.0022
40% ~ 60%   -0.0022~0.0073
60% ~ 80%    0.0073~0.0217
80%~               0.0217~

In [ ]:
KINDEX일본Nikkey225_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = KINDEX일본Nikkey225_combined.drop('Rate', axis=1)
y = KINDEX일본Nikkey225_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.10862471, 0.09479118, 0.11954993, ..., 0.00154812, 0.09753681,
        0.42827443],
       [0.10909091, 0.09432191, 0.11251758, ..., 0.01530919, 0.10206682,
        0.43659044],
       [0.10722611, 0.09244486, 0.09939053, ..., 0.01530919, 0.09343148,
        0.41787942],
       ...,
       [0.6965035 , 0.78460817, 0.71073605, ..., 0.68693558, 0.55294451,
        0.02286902],
       [0.76876457, 0.78132332, 0.78340366, ..., 0.69338608, 0.50693658,
        0.002079  ],
       [0.77109557, 0.76067574, 0.7379278 , ..., 0.71187753, 0.49561155,
        0.        ]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = KINDEX일본Nikkey225_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = KINDEX일본Nikkey225_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=40, step = 5)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=40, step=5)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0               High
1              Close
2             Volume
3  natural_gas Price
4          oil Price

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

                 columns  Ranking
0   KOSEF미국달러선물인버스_Close        1
1                CMA(JP)        1
2  TIGER유로스탁스50(H)_Close        1
3                HML(EU)        1
4                RMW(EU)        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,High,Close,Volume,natural_gas Price,oil Price,silver Price,Mkt-RF(NA),SMB(NA),HML(NA),RMW(NA),...,JPY Change,EUR Change,TIGER코스닥150_Close,TIGER유로스탁스50(H)_Close,KODEX골드선물(H)_Close,KODEX200_Close,TIGER원유선물(H)_Close,KOSEF국고채10년_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close
0,0.094791,0.115314,0.000024,0.026540,0.563946,0.194824,0.575758,0.514374,0.441044,0.505882,...,0.397571,0.523717,0.343714,0.242188,0.196649,0.087842,0.485437,0.223382,0.097537,0.428274
1,0.094322,0.113007,0.313728,0.030001,0.579342,0.207907,0.571096,0.592402,0.461746,0.411765,...,0.432125,0.563699,0.338212,0.241477,0.193122,0.089633,0.521036,0.223585,0.102067,0.436590
2,0.092445,0.108395,0.342500,0.033175,0.569826,0.207907,0.494639,0.336756,0.372637,0.632353,...,0.542704,0.666713,0.339043,0.240767,0.204586,0.083344,0.528587,0.239852,0.093431,0.417879
3,0.076959,0.098708,0.321358,0.038944,0.577176,0.185722,0.583683,0.485626,0.454545,0.523529,...,0.328863,0.513166,0.345687,0.232955,0.186067,0.087301,0.516721,0.237014,0.090176,0.382536
4,0.088221,0.109779,0.316035,0.044137,0.578337,0.185722,0.549650,0.414784,0.443744,0.502941,...,0.392596,0.774347,0.351604,0.234375,0.178131,0.095298,0.530744,0.231642,0.092157,0.430353

#### LightGBM

In [ ]:
lgbm = LGBMClassifier(boosting_type='gbdt')
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.2368
recall: 0.2368
precision: 0.2368
f1_score: 0.2368

In [ ]:
confusion_matrix(pred, y_test)

array([[11,  7,  3,  5,  4],
       [ 5,  2,  2,  2,  0],
       [ 6,  3,  1,  0,  0],
       [ 0,  0,  0,  0,  1],
       [26, 17, 21, 14, 22]])

### TIGER차이나CSI300

In [ ]:
feature_list = total_feature_list
TIGER차이나CSI300_combined = merge_data_set(TIGER차이나CSI300, feature_list)
TIGER차이나CSI300_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,6845,6845,6751,6848,512798,-0.011974,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,6894,6916,6827,6880,490423,-0.008866,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,6904,6904,6638,6819,507145,-0.008359,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,6817,6864,6741,6796,484589,-0.000736,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,6827,6889,6789,6810,491465,-0.002790,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
TIGER차이나CSI300_combined.drop(['Date', 'TIGER차이나CSI300_Close'], axis=1, inplace=True)

In [ ]:
Rate_into_labels(TIGER차이나CSI300_combined)

                         0
~20%              ~-0.0178
20% ~ 40%  -0.0178~-0.0041
40% ~ 60%   -0.0041~0.0075
60% ~ 80%    0.0075~0.0208
80%~               0.0208~

In [ ]:
TIGER차이나CSI300_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = TIGER차이나CSI300_combined.drop('Rate', axis=1)
y = TIGER차이나CSI300_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.09719911, 0.0825701 , 0.08984764, ..., 0.00154812, 0.42827443,
        0.11531365],
       [0.10399334, 0.09257433, 0.10066923, ..., 0.01530919, 0.43659044,
        0.11300738],
       [0.10537992, 0.09088347, 0.07375765, ..., 0.01530919, 0.41787942,
        0.10839483],
       ...,
       [0.53813089, 0.54191912, 0.55389435, ..., 0.68693558, 0.02286902,
        0.79012915],
       [0.53466445, 0.52712414, 0.51544924, ..., 0.69338608, 0.002079  ,
        0.79105166],
       [0.49306711, 0.49612512, 0.49622668, ..., 0.71187753, 0.        ,
        0.75415129]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = TIGER차이나CSI300_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = TIGER차이나CSI300_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=40, step = 5)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=40, step=5)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0               High
1              Close
2             Volume
3  natural_gas Price
4          oil Price

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

                      columns  Ranking
0  KINDEX일본Nikkey225(H)_Close        1
1                     RMW(JP)        1
2                     CMA(JP)        1
3                     SMB(EU)        1
4                     HML(EU)        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,High,Close,Volume,natural_gas Price,oil Price,silver Price,Mkt-RF(NA),SMB(NA),HML(NA),RMW(NA),...,CNY Change,EUR Change,TIGER코스닥150_Close,TIGER유로스탁스50(H)_Close,KODEX골드선물(H)_Close,KODEX200_Close,TIGER원유선물(H)_Close,KBSTAR중기우량회사채_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,0.082570,0.097537,0.130286,0.026540,0.563946,0.194824,0.575758,0.514374,0.441044,0.505882,...,0.500087,0.523717,0.343714,0.242188,0.196649,0.087842,0.485437,0.001548,0.428274,0.115314
1,0.092574,0.102067,0.124447,0.030001,0.579342,0.207907,0.571096,0.592402,0.461746,0.411765,...,0.496028,0.563699,0.338212,0.241477,0.193122,0.089633,0.521036,0.015309,0.436590,0.113007
2,0.090883,0.093431,0.128811,0.033175,0.569826,0.207907,0.494639,0.336756,0.372637,0.632353,...,0.689865,0.666713,0.339043,0.240767,0.204586,0.083344,0.528587,0.015309,0.417879,0.108395
3,0.085247,0.090176,0.122925,0.038944,0.577176,0.185722,0.583683,0.485626,0.454545,0.523529,...,0.465928,0.513166,0.345687,0.232955,0.186067,0.087301,0.516721,0.003956,0.382536,0.098708
4,0.088770,0.092157,0.124719,0.044137,0.578337,0.185722,0.549650,0.414784,0.443744,0.502941,...,0.464859,0.774347,0.351604,0.234375,0.178131,0.095298,0.530744,0.018921,0.430353,0.109779

#### LightGBM

In [ ]:
lgbm = LGBMClassifier(boosting_type='gbdt')
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.2697
recall: 0.2697
precision: 0.2697
f1_score: 0.2697

In [ ]:
confusion_matrix(pred, y_test)

array([[27, 26, 18, 12, 13],
       [ 4,  5,  6,  1,  2],
       [ 1,  9,  3,  5,  0],
       [ 3,  1,  3,  5,  1],
       [ 2,  3,  1,  0,  1]])

### TIGER유로스탁스50

In [ ]:
feature_list = total_feature_list
TIGER유로스탁스50_combined = merge_data_set(TIGER유로스탁스50, feature_list)
TIGER유로스탁스50_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,9655,9695,9645,9645,3274,-0.012960,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,9685,9690,9640,9640,10172,0.027490,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,9660,9680,9575,9635,7420,0.027504,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,9575,9650,9540,9580,4272,0.030271,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,9665,9675,9590,9590,5708,0.030761,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
TIGER유로스탁스50_combined.drop(['Date', 'TIGER유로스탁스50(H)_Close'], axis=1, inplace=True)

In [ ]:
Rate_into_labels(TIGER유로스탁스50_combined)

                        0
~20%              ~-0.015
20% ~ 40%  -0.015~-0.0018
40% ~ 60%  -0.0018~0.0074
60% ~ 80%   0.0074~0.0176
80%~              0.0176~

In [ ]:
TIGER유로스탁스50_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = TIGER유로스탁스50_combined.drop('Rate', axis=1)
y = TIGER유로스탁스50_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.22681159, 0.20537715, 0.28753351, ..., 0.09753681, 0.42827443,
        0.11531365],
       [0.23115942, 0.20463032, 0.28686327, ..., 0.10206682, 0.43659044,
        0.11300738],
       [0.22753623, 0.20313667, 0.27815013, ..., 0.09343148, 0.41787942,
        0.10839483],
       ...,
       [0.67173913, 0.68409261, 0.70040214, ..., 0.55294451, 0.02286902,
        0.79012915],
       [0.66884058, 0.65496639, 0.67828418, ..., 0.50693658, 0.002079  ,
        0.79105166],
       [0.6115942 , 0.61911875, 0.64008043, ..., 0.49561155, 0.        ,
        0.75415129]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = TIGER유로스탁스50_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = TIGER유로스탁스50_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=15, step = 3)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=40, step=5)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0                Low
1              Close
2             Volume
3  natural_gas Price
4          oil Price

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

                      columns  Ranking
0  KINDEX일본Nikkey225(H)_Close        1
1                     RMW(JP)        1
2                     CMA(JP)        1
3                  Mkt-RF(EU)        1
4                     SMB(EU)        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,Low,Close,Volume,natural_gas Price,oil Price,silver Price,Mkt-RF(NA),SMB(NA),HML(NA),RMW(NA),...,CNY Change,EUR Change,TIGER단기선진하이일드(H)_Close,TIGER코스닥150_Close,KODEX인버스_Close,TIGER원유선물(H)_Close,KOSEF국고채10년_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,0.287534,0.242188,0.003500,0.026540,0.563946,0.194824,0.575758,0.514374,0.441044,0.505882,...,0.500087,0.523717,0.000000,0.343714,0.831063,0.485437,0.223382,0.097537,0.428274,0.115314
1,0.286863,0.241477,0.010975,0.030001,0.579342,0.207907,0.571096,0.592402,0.461746,0.411765,...,0.496028,0.563699,0.011309,0.338212,0.827430,0.521036,0.223585,0.102067,0.436590,0.113007
2,0.278150,0.240767,0.007993,0.033175,0.569826,0.207907,0.494639,0.336756,0.372637,0.632353,...,0.689865,0.666713,0.012924,0.339043,0.839237,0.528587,0.239852,0.093431,0.417879,0.108395
3,0.273458,0.232955,0.004582,0.038944,0.577176,0.185722,0.583683,0.485626,0.454545,0.523529,...,0.465928,0.513166,0.011309,0.345687,0.832879,0.516721,0.237014,0.090176,0.382536,0.098708
4,0.280161,0.234375,0.006138,0.044137,0.578337,0.185722,0.549650,0.414784,0.443744,0.502941,...,0.464859,0.774347,0.008078,0.351604,0.821980,0.530744,0.231642,0.092157,0.430353,0.109779

#### LightGBM

In [ ]:
lgbm = LGBMClassifier(boosting_type='gbdt')
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.2664
recall: 0.2664
precision: 0.2664
f1_score: 0.2664

In [ ]:
confusion_matrix(pred, y_test)

array([[16, 13,  3,  8,  6],
       [15, 21, 26, 19, 11],
       [ 7,  4,  8,  7,  5],
       [11, 10, 12, 16,  7],
       [12,  9, 16, 22, 20]])

### TIGER미국SP500선물

In [ ]:
feature_list = total_feature_list
TIGER미국SP500선물_combined = merge_data_set(TIGER미국SP500선물, feature_list)
TIGER미국SP500선물_combined.head()

,Date,Open,High,Low,Close,Volume,Rate,gold Price,natural_gas Price,oil Price,...,KODEX200_Close,KOSEF단기자금_Close,KOSEF미국달러선물_Close,TIGER원유선물(H)_Close,TIGER미국SP500선물(H)_Close,KOSEF국고채10년_Close,KBSTAR중기우량회사채_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close,KINDEX일본Nikkey225(H)_Close
0,2016-03-04,23215,23275,23215,23275,20731,0.005371,1271.50,1.666,35.91,...,21245,93723,11972,3600,23275,110863,94041,6848,10410,10540
1,2016-03-07,23340,23340,23210,23290,26105,0.012237,1267.60,1.690,37.90,...,21288,93728,11928,3765,23290,110867,94201,6880,10430,10515
2,2016-03-08,23290,23320,23195,23265,4126,0.010746,1274.10,1.712,36.67,...,21137,93718,11981,3800,23265,111188,94201,6819,10385,10465
3,2016-03-09,23175,23215,23110,23215,27461,0.015507,1258.25,1.752,37.62,...,21232,93741,12098,3745,23215,111132,94069,6796,10300,10360
4,2016-03-10,23255,23255,23255,23255,10555,0.017416,1247.25,1.788,37.77,...,21424,93728,11967,3810,23255,111026,94243,6810,10415,10480

In [ ]:
TIGER미국SP500선물_combined.drop(['Date', 'TIGER미국SP500선물(H)_Close'], axis=1, inplace=True)

In [ ]:
Rate_into_labels(TIGER미국SP500선물_combined)

                        0
~20%             ~-0.0098
20% ~ 40%  -0.0098~0.0007
40% ~ 60%   0.0007~0.0077
60% ~ 80%   0.0077~0.0169
80%~              0.0169~

In [ ]:
TIGER미국SP500선물_combined.Rate.value_counts()

0    304
1    304
2    304
3    304
4    304
Name: Rate, dtype: int64

In [ ]:
X = TIGER미국SP500선물_combined.drop('Rate', axis=1)
y = TIGER미국SP500선물_combined[['Rate']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[0.00121451, 0.00181461, 0.00529902, ..., 0.09753681, 0.42827443,
        0.11531365],
       [0.00500987, 0.00378043, 0.00514762, ..., 0.10206682, 0.43659044,
        0.11300738],
       [0.00349173, 0.00317556, 0.00469341, ..., 0.09343148, 0.41787942,
        0.10839483],
       ...,
       [0.78654926, 0.78572509, 0.78667676, ..., 0.55294451, 0.02286902,
        0.79012915],
       [0.7783513 , 0.77408135, 0.77153671, ..., 0.50693658, 0.002079  ,
        0.79105166],
       [0.75406103, 0.75079389, 0.74822104, ..., 0.49561155, 0.        ,
        0.75415129]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X_scaled,y, test_size=0.2, shuffle=False)

In [ ]:
X_train = pd.DataFrame(X_train, columns = TIGER미국SP500선물_combined.columns.drop("Rate"))
X_test = pd.DataFrame(X_test, columns = TIGER미국SP500선물_combined.columns.drop("Rate"))

In [ ]:
np.random.seed(42)
from sklearn.feature_selection import RFE
from lightgbm import LGBMClassifier
estimator = LGBMClassifier(boosting_type='gbdt')
selector = RFE(estimator, n_features_to_select=15, step = 3)
selector.fit(X_train, y_train)

RFE(estimator=LGBMClassifier(), n_features_to_select=15, step=3)

In [ ]:
selected_column_list = X_train.columns[selector.support_]
print("Selected columns")
pd.DataFrame({'selected_columns':X_train.columns[selector.support_]}).head()

Selected columns

    selected_columns
0             Volume
1         gold Price
2  natural_gas Price
3       silver Price
4         Mkt-RF(NA)

In [ ]:
pd.DataFrame({'columns':X_train.columns, 'Ranking': selector.ranking_}).sort_values(by='Ranking', ascending=True).reset_index(drop=True).head()

             columns  Ranking
0  TIGER코스닥150_Close        1
1            HML(JP)        1
2            RMW(EU)        1
3            RMW(NA)        1
4         EUR Change        1

In [ ]:
X_train = X_train[selected_column_list]
X_test = X_test[selected_column_list]
X_train.head()

,Volume,gold Price,natural_gas Price,silver Price,Mkt-RF(NA),SMB(NA),RMW(NA),Mkt-RF(JP),HML(JP),RMW(EU),EUR Change,TIGER코스닥150_Close,TIGER유로스탁스50(H)_Close,TIGER차이나CSI300_Close,KOSEF미국달러선물인버스_Close
0,0.019367,0.151404,0.026540,0.194824,0.575758,0.514374,0.505882,0.556396,0.505521,0.462754,0.523717,0.343714,0.242188,0.097537,0.428274
1,0.024444,0.147215,0.030001,0.207907,0.571096,0.592402,0.411765,0.496561,0.451534,0.399549,0.563699,0.338212,0.241477,0.102067,0.436590
2,0.003680,0.154197,0.033175,0.207907,0.494639,0.336756,0.632353,0.516506,0.388957,0.417607,0.666713,0.339043,0.240767,0.093431,0.417879
3,0.025725,0.137172,0.038944,0.185722,0.583683,0.485626,0.523529,0.425034,0.420859,0.404063,0.513166,0.345687,0.232955,0.090176,0.382536
4,0.009753,0.125356,0.044137,0.185722,0.549650,0.414784,0.502941,0.650619,0.381595,0.264108,0.774347,0.351604,0.234375,0.092157,0.430353

#### LightGBM

In [ ]:
lgbm = LGBMClassifier(boosting_type='gbdt')
lgbm.fit(X_train, y_train)

LGBMClassifier()

In [ ]:
pred = lgbm.predict(X_test)
print(f"accuracy: {round(accuracy_score(pred, y_test),4)}")
print(f"recall: {round(recall_score(pred, y_test, average='micro'),4)}")
print(f"precision: {round(precision_score(pred, y_test, average='micro'),4)}")
print(f"f1_score: {round(f1_score(pred, y_test, average='micro'),4)}")

accuracy: 0.3059
recall: 0.3059
precision: 0.3059
f1_score: 0.3059

In [ ]:
confusion_matrix(pred, y_test)

array([[50, 24, 26, 19, 21],
       [ 9,  8,  9, 12,  3],
       [ 4,  8,  1,  4,  2],
       [ 7,  3,  9, 13, 11],
       [16,  7,  5, 12, 21]])

### KOSEF국고채10년

In [ ]:
feature_list = total_feature_list
KOSEF국고채10년_combined = merge_data_set(KOSEF국고채10년, feature_list)
KOSEF국고채10년_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of KOSEF국고채10년: {KOSEF국고채10년_combined.shape}")
KOSEF국고채10년_combined.info()

In [ ]:
KOSEF국고채10년_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
KOSEF국고채10년_combined_scaled = scaler.fit_transform(KOSEF국고채10년_combined)
KOSEF국고채10년_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(KOSEF국고채10년_combined_scaled,time_step)
y = KOSEF국고채10년_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(KOSEF국고채10년.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(KOSEF국고채10년.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### KBSTAR중기우량회사채

In [ ]:
feature_list = total_feature_list
KBSTAR중기우량회사채_combined = merge_data_set(KBSTAR중기우량회사채, feature_list)
KBSTAR중기우량회사채_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of KBSTAR중기우량회사채: {KBSTAR중기우량회사채_combined.shape}")
KBSTAR중기우량회사채_combined.info()

In [ ]:
KBSTAR중기우량회사채_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
KBSTAR중기우량회사채_combined_scaled = scaler.fit_transform(KBSTAR중기우량회사채_combined)
KBSTAR중기우량회사채_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(KBSTAR중기우량회사채_combined_scaled,time_step)
y = KBSTAR중기우량회사채_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(KBSTAR중기우량회사채.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(KBSTAR중기우량회사채.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### TIGER단기선진하이일드

In [ ]:
feature_list = total_feature_list
TIGER단기선진하이일드_combined = merge_data_set(TIGER단기선진하이일드, feature_list)
TIGER단기선진하이일드_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of TIGER단기선진하이일드: {TIGER단기선진하이일드_combined.shape}")
TIGER단기선진하이일드_combined.info()

In [ ]:
TIGER단기선진하이일드_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
TIGER단기선진하이일드_combined_scaled = scaler.fit_transform(TIGER단기선진하이일드_combined)
TIGER단기선진하이일드_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(TIGER단기선진하이일드_combined_scaled,time_step)
y = TIGER단기선진하이일드_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(TIGER단기선진하이일드.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(TIGER단기선진하이일드.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### KODEX골드선물

In [ ]:
feature_list = total_feature_list
KODEX골드선물_combined = merge_data_set(KODEX골드선물, feature_list)
KODEX골드선물_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of KODEX골드선물: {KODEX골드선물_combined.shape}")
KODEX골드선물_combined.info()

In [ ]:
KODEX골드선물_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
KODEX골드선물_combined_scaled = scaler.fit_transform(KODEX골드선물_combined)
KODEX골드선물_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(KODEX골드선물_combined_scaled,time_step)
y = KODEX골드선물_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(KODEX골드선물.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(KODEX골드선물.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### TIGER원유선물

In [ ]:
feature_list = total_feature_list
TIGER원유선물_combined = merge_data_set(TIGER원유선물, feature_list)
TIGER원유선물_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of TIGER원유선물: {TIGER원유선물_combined.shape}")
TIGER원유선물_combined.info()

In [ ]:
TIGER원유선물_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
TIGER원유선물_combined_scaled = scaler.fit_transform(TIGER원유선물_combined)
TIGER원유선물_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(TIGER원유선물_combined_scaled,time_step)
y = TIGER원유선물_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(TIGER원유선물.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(TIGER원유선물.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### KOSEF미국달러선물

In [ ]:
feature_list = total_feature_list
KOSEF미국달러선물_combined = merge_data_set(KOSEF미국달러선물, feature_list)
KOSEF미국달러선물_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of KOSEF미국달러선물: {KOSEF미국달러선물_combined.shape}")
KOSEF미국달러선물_combined.info()

In [ ]:
KOSEF미국달러선물_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
KOSEF미국달러선물_combined_scaled = scaler.fit_transform(KOSEF미국달러선물_combined)
KOSEF미국달러선물_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(KOSEF미국달러선물_combined_scaled,time_step)
y = KOSEF미국달러선물_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(KOSEF미국달러선물.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(KOSEF미국달러선물.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()

### KOSEF미국달러선물(진행하지않음)

In [ ]:
#### KOSEF미국달러선물는 미국달러선물의 반대이므로 진행하지 않음

### KOSEF단기자금

In [ ]:
feature_list = total_feature_list
KOSEF단기자금_combined = merge_data_set(KOSEF단기자금, feature_list)
KOSEF단기자금_combined.head()

In [ ]:
# 예측해야되는 값이 305개인데 column은 54개이다.
# 일단은 모든 변수들을 다 사용해보기로 한다.(Date 제외)
print(f"shape of KOSEF단기자금: {KOSEF단기자금_combined.shape}")
KOSEF단기자금_combined.info()

In [ ]:
KOSEF단기자금_combined.drop('Date', axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))
KOSEF단기자금_combined_scaled = scaler.fit_transform(KOSEF단기자금_combined)
KOSEF단기자금_combined_scaled

In [ ]:
time_step = 10
X = make_windowed_dataset(KOSEF단기자금_combined_scaled,time_step)
y = KOSEF단기자금_combined_scaled[time_step-1:,5]
print(X.shape)
print(y.shape)

#### LSTM

In [ ]:
model = Sequential() # Sequeatial Model 
model.add(LSTM(40, activation='relu', input_shape=(time_step, 53), name='LSTM1'))
model.add(Dropout(0.25, name='dropout1'))
model.add(BatchNormalization(name='batch1'))
model.add(Dense(40//2, activation='relu', name='Dense1'))
model.add(Dense(1, activation='sigmoid', name='output'))
model.summary()

In [ ]:
# 마지막 1년의 결과를 예상해보고자 한다.
test_size = 52
pred = []
actual_value = y[X.shape[0]-test_size-1:]
for i in range(X.shape[0] - test_size-1, X.shape[0]):
  tf.keras.backend.clear_session()
  X_train = X[i-36:i]
  y_train = y[i-36:i]
  X_test = X[i].reshape(1, X_train.shape[1], X_train.shape[2])
  model.compile(optimizer=Adam(1e-4), loss='mean_squared_error', metrics=['mae'])
  model.fit(X_train, y_train, epochs=50, verbose=0)
  pred.append(model.predict(X_test))

In [ ]:
actual = min_max_inverse_transform(KOSEF단기자금.Rate, y[len(y)-test_size-1:len(y)])
pred = min_max_inverse_transform(KOSEF단기자금.Rate, np.array(pred).reshape(-1,))
print(mean_squared_error(actual, pred))
print(r2_score(actual,pred))

In [ ]:
plt.plot(pred, color='red', alpha=0.5)
plt.plot(actual,color='blue',alpha=0.5)
plt.title('prediction vs actual value')
plt.xlabel('Time')
plt.ylabel('Rate')
plt.legend()
plt.show()